@import '_vars';

.menu-container {
  position: absolute;
  top: 0px;
  right: 0px;
}
.Menu {
  width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 60px;
  right: 50px;
  background-color: var(--white);
  opacity: 0.95;
  z-index: 100;
}
.Menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.Menu ul li {
  text-align: end;
}
.Menu ul li:nth-child(1),
.Menu ul li:nth-child(2) {
  font-weight: bold;
}
.Menu ul li:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.Menu ul li a {
  color: var(--black);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
  opacity: 0.9;
}
.Menu ul li:hover a {
  opacity: 1;
  // border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  text-shadow: 0 0 20px var(--hospital-green),
  0 0 30px var(--hospital-green);
}
.Menu ul li:last-child a {
  color: var(--hospital-green);
  font-size: var(--sm);
}
